.index-page {

  ::selection {
    background: #0085a1;
    color: #fff;
  }


  section.hero {
    margin-top: -72px;
    --height: 600px;
    color: #fff;
    position: relative;
    height: var(--height);
    background-color: #101010;
    z-index: -5;

    img.background {
      opacity: .5;
      position: absolute;
      width: 100%;
      height: var(--height);
      object-fit: cover;
      z-index: -2;
    }

    .container {
      .row {
        height: var(--height);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .heading {
          font-size: 4rem;
          line-height: 4.5rem;
          font-weight: bolder;
          margin-bottom: .5rem;
        }

        .subheading {
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }
    }
  }

  section.blog {
    padding: 4rem 0;

    .container {
      .row {


        .box {
          position: relative;
          border: 5px solid;
          border-image-slice: 1;
          // border-image-source: linear-gradient(45deg, purple, orange);
          border-image-source: conic-gradient(hsl(250, 100%, 60%), hsl(350, 100%, 20%), hsl(250, 100%, 60%));
          margin-bottom: 3rem;
          padding: 2rem 1rem;

          .title {
            font-size: 2rem;
            line-height: 2.5rem;
            margin-bottom: .5rem;
          }

          .text {
            font-size: 1.5rem;
            line-height: 1.75rem;
            margin-bottom: 3rem;
          }

          .action {
            margin-bottom: .5rem;

            button {
              background-color: #0085a1;
              color: #fff;
              border: none;
              border-radius: 2px;
              font-size: 1.1rem;
              padding: .6rem 1rem;
            }
          }

          .date {
            font-size: 1.125rem;
            font-style: italic;
          }
        }
      }
    }
  }



}

medi