 nav.nav {
   .container {
     .row {
       height: 72px;
       display: flex;
       justify-content: space-between;
       align-items: center;

       .brand {
         font-size: 1.5rem;
         line-height: 1.75rem;
         color: #fff;
       }

       .link {
         ul {
           display: flex;
           align-items: center;

           li {
             padding: .6rem 1rem;

             a {
               color: #fff;
             }

             img {
               width: 24px;
             }
           }
         }
       }

       .hamburger {
         img {
           width: 36px;
           height: 36px;
           // background-color: blue;
         }
       }
     }
   }
 }

 .mobile-nav {
   position: absolute;
   background-color: #fff;
   color: #191919;
   width: 100%;

   .container {
     .row {
       ul {
         li {
           padding: .6rem .3rem;

           img {
             width: 32px;
           }
         }
       }
     }
   }
 }

 @media screen and (max-width:768px) {
   nav.nav {
     color: #191919;

     .container {
       .row {
         .brand {
           color: #191919;
         }

         .link {
           display: none;
         }

         .hamburger {
           display: block;
         }
       }
     }
   }
 }